# Netlify mein ye keys Environment Variables mein daalni hain
# Site Settings > Environment Variables > Add variable

GEMINI_KEY=AIzaSyAQ.Ab8RN6Il0J8pQt2KGkV1uN5to0pO6cl5jydVIBJYAFw60tUJrA
GROQ_KEY=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
CLAUDE_KEY=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
